body{
    font-family:sans-serif;
}

h1,h2{
    color: #30c330;
    font-family: Helvetica Neue, Arial;
}

h1{   
    font-size: 40;   
}

h2{
    font-size: 25;
}

.main-text{
    text-align: justify;
}

.author-text{
    font-size:25px;
}