*{
    margin: 0;/*This would remove space between boxes*/
    padding: 0;/*This removes space between content and box*/
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
}

h1,h2{
    color: #30c330;
    font-family: Helvetica Neue, Arial;
}

h1{   
    font-size: 40;   
    margin-bottom: 30px;/*This adds space between boxes*/
}

h2{
    font-size: 25;
    margin-bottom: 10px;/*This adds space between boxes*/
}

.main-text{
    text-align: justify;
    margin-bottom: 15px;/*This adds space between boxes*/
}

.author-text{
    font-size:25px;
}

.container{
    width:1150px;
    margin-left: auto;
    margin-right: auto;       
}
.blog-post {
    background-color: blue;
    width: 75%;/*The width is set to 75% of container*/
}

.other-posts {
    background-color: green;
    width: 25%;
}

.author-box {
    background-color: yellow;
}
