*{
    margin: 0;/*This would remove space between boxes*/
    padding: 0;/*This removes space between content and box*/
    box-sizing: border-box;
}

.clear-fix{
    content: "";
    display: table;
    clear:both;
}

.container{
    width:1150px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px; /*This adds space between browser top and container*/
    margin-bottom: 0;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;/*The width is set to 75% of container*/
    float: left;
    padding-right: 30px;/*This adds space between content and box border*/
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    border-top: 1px solid #9a9b9b; /*This will add 1px border solid line for top div of color #9a9b9b*/
    margin-top: 10px;
    padding-top: 10px;
}

.author-box img {
    width: 100px;
    height:100px;
    border-radius: 50%;
    float:left;
}

body{
    font-family:sans-serif;
}

h1,h2{
    color: #30c330;
    font-family: Helvetica Neue, Arial;
}

h1{   
    font-size: 40;   
    margin-bottom: 30px;/*This adds space between boxes*/
}

h2{
    font-size: 25;
    margin-bottom: 10px;/*This adds space between boxes*/
}

.main-text{
    text-align: justify;
    margin-bottom: 15px;/*This adds space between boxes*/
}

.author-text{
    font-size:25px;
    float: left;
}


.other {
    padding-top: 30px;
}
